.button-submit {
    width: 100%;
    max-width: 250px;
    height: 50px;
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    border-radius: var(--border-radius);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    display: block;
    margin: 30px auto 0 auto;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
    padding: 0 15px;
}

.button-submit:hover {
    background-color: var(--color-primary-hover);
}