.input-field {
    width: 100%;
    max-width: 250px;
    height: 50px;
    border-radius: var(--border-radius);
    border: var(--border-style);
    font-size: 16px;
    padding: 0 15px;
    box-sizing: border-box;
    display: block;
    outline: none;
    transition: border-color 0.3s ease;
    margin: 30px auto 0 auto;
    background-color: var(--color-white);
    color: var(--color-text)
}

.input-field:focus {
    border-color: var(--color-primary);
}