.topbar-common {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: var(--color-white);
    border-bottom: 2px solid var(--color-border);
    display: flex;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}


.breadcrumbs {
    margin-left: 4rem;
    font-size: 16px;
    color: var(--color-text);
}


.page-title {
  display: flex;
  align-items: center; /* centre verticalement */
}