.topbar-common {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: var(--color-white);
    border-bottom: 2px solid var(--color-border);
    display: flex;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}


.breadcrumbs {
    margin-left: 4rem;
    font-size: 16px;
    color: var(--color-text);
}


.page-title {
  display: flex;
  align-items: center; /* centre verticalement */
}


.right-element {
  display: flex;
  justify-content: flex-end;
  flex:1;
  padding-right: 40px;
}

.deconnect-button {
  background-color: var(--color-white);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  border: none;
  width: 50px;
  height: 50px;
}

.deconnect-button:hover {
  background-color: var(--color-secondary);
}

.tooltip {
  position: absolute;
  left: 90%;
  background-color: var(--color-white);
  color: var(--color-text);
  border: 1px solid var(--color-text);
  border-radius: var(--border-radius);
  align-items: center;
  justify-content: center;
  font-size: 12px;
  padding: 10px;
}


.account-button {
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 10px;
    height: 50px;
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    align-items: center;
    display: flex;
    justify-content: center;
    color: var(--color-text);
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
}

.account-button:hover {
  background-color: var(--color-secondary);
}

@media screen and (max-width: 768px) {
  .breadcrumbs {
    display: none;
  }
}