:root {
  --color-background: #F9F9FB;
  --color-text: #1c1d1e;
  --color-primary: #3B82F6;
  --color-primary-hover: #2563EB;
  --color-border: #E5E7EB;
  --color-white: #FFFFFF;
  --color-secondary: #f2f0f0;
  --color-hover: #e6dbdb;
  
  --border-radius: 12px;
  --border-style: 2px solid var(--color-border);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  font-family: 'Roboto', sans-serif;
}

.page {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr; /*Une colonne par défaut */
  grid-template-rows: 1fr; /*Une ligne par défaut */
  background-color: var(--color-background);
  place-items: center;
  padding-top: clamp(1rem, 3vw, 2rem);
  padding-bottom: clamp(1rem, 3vw, 2rem);
}

.site-name {
  font-size: clamp(1.5rem, 5vw, 2rem);
  font-weight: bold;
  color: var(--color-primary);
}

.logo {
  width: clamp(2rem, 5vw, 3rem);
  height: clamp(2rem, 5vw, 3rem);
  display: inline-block;
  margin-right: clamp(0.5rem, 5vw, 1rem);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: clamp(1rem, 5vw, 1.25rem);
  margin: 0 auto;
  min-height: calc(100vh - 70px);
}

.container-no-side-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: clamp(1rem, 5vw, 1.25rem);

}

.card {
  border: var(--border-style);
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  padding: clamp(1.25rem, 5vw, 2.5rem) clamp(1rem, 5vw, 1.25rem);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.text {
  font-size: 14px;
  color: var(--color-text);
}

@media (min-width: 1024px) {
  .container {
    margin-left: 16%;
    width: calc(100% - 19%);
  }
}

@media (max-width: 1023px) {
  .container {
    margin-left: 0;
    margin-top: 100px;
    width: 90%;
  }
}