:root {
  --color-background: #F9F9FB;
  --color-text: #1c1d1e;
  --color-primary: #3B82F6;
  --color-primary-hover: #2563EB;
  --color-border: #E5E7EB;
  --color-white: #FFFFFF;
  --color-secondary: #f2f0f0;
  
  --border-radius: 12px;
  --border-style: 2px solid var(--color-border);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  font-family: 'Roboto', sans-serif;
}

.page {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr; /*Une colonne par défaut */
  grid-template-rows: 1fr; /*Une ligne par défaut */
  background-color: var(--color-background);
  place-items: center;
  padding-top: 60px;
}

.site-name {
  font-size: 32px;
  font-weight: bold;
  color: var(--color-primary);
}

.logo {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-right: 12px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 20px;
}

.card {
  border: var(--border-style);
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  padding: 40px 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}