version: "3.9"

services:

  db:
    image: postgres:15
    container_name: labelia_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./db-init:/docker-entrypoint-initdb.d
    ports:
    - "5432:5432"

  backend:
    depends_on:
      - db
    build: ./backend
    image: labelia_backend
    container_name: labelia_backend
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    volumes:
      - ./backend:/app

  frontend:
    build: ./frontend/labelia-frontend
    image: labelia_frontend
    container_name: labelia_frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend/labelia-frontend:/app
      - frontend_node_modules:/app/node_modules
    depends_on:
      - backend

volumes:
  postgres_data:
  frontend_node_modules: