.avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    display: block;
    margin: auto;
}

.title-logged-out {
    font-size: 20px;
    color: #e63946;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    text-transform: uppercase;
}