.login-signup-card {
    width: 500px; 
    max-width: 500px;
    align-self: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.avatar {
    width: 120px;
    height: 120px;
    object-fit: cover;
    display: block;
    margin: auto;
}

.title {
    font-size: 26px;
    color: var(--color-primary);
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}

.forgotten-password {
    color: #6B7280;
    font-size: 12px;
    cursor: pointer;
    border: none;
    background-color: var(--color-white);
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.message {
    font-size: 14px;
    color: #6B7280;
    text-align: center;
    display: block;
    margin: 20px 0 0 0;
}

.login-signup-card > button:first-of-type {
  margin-bottom: 30px;  /* espace réduit uniquement pour le dernier bouton dans la carte */
}

.login-signup-card > button:last-of-type {
  margin-top: 8px;  /* espace réduit uniquement pour le dernier bouton dans la carte */
}

.login-message {
    color: #e63946;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}


@media (max-width: 768px) {
    .login-signup-card{
        width: 90%;
        padding: 2rem;
    }
}