.password-input {
    width: 100%;
    max-width: 250px;
    height: 50px;
    border-radius: var(--border-radius);
    border: var(--border-style);
    font-size: 16px;
    padding: 0 15px;
    box-sizing: border-box;
    display: block;
    outline: none;
    transition: border-color 0.3s ease;
    margin: 30px auto 0 auto;
    background-color: var(--color-white);
    color: var(--color-text)
}

.password-input:focus {
    border-color: var(--color-primary);
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.password-container {
  position: relative;
  width: 100%;
  max-width: 250px;
  margin: 30px auto 20px auto;
}