.protection-container {
    height: 100vh;
    width: 100%;
    background-color: #F9F9FB;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.top-bar {
  position: fixed;          /* fixe la barre en haut */
  top: 0;
  left: 0;
  width: 100%;              /* prend toute la largeur */
  height: 60px;             /* ou la hauteur que tu veux */
  background-color: #F9F9FB;  /* ou ta couleur de fond */
  border-bottom: 1px solid #E5E7EB;
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;            /* pour qu'elle reste au-dessus du contenu */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
}

.logo {
    width: 50px;
    height: 50px;
    transform: rotate(15deg);
    display: inline-block;
    margin-right: 12px;
}

.site-name {
    font-size: 32px;
    font-weight: bold;
    color: #3B82F6;
}

.protection-page {
  min-height: 100vh;              /* au moins la hauteur de l'écran */
  display: flex;
  justify-content: center;
  align-items: flex-start;        /* permet à la carte de commencer en haut */
  padding-top: 100px;
  padding-bottom: 40px;           /* pour laisser un peu d'air en bas */
  background-color: #F9F9FB;
}

/* .protection-card {
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
} */

.protection-card {
  width: 80%;
  max-width: 560px;               /* taille max desktop */
  background-color: white;
  border: 1px solid #E5E7EB;
  border-radius: 15px;
  padding: 30px 30px;
  box-sizing: border-box;
  padding-bottom: 80px;
}

.protection-title {
    font-size: 26px;
    color: #ef4444;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}

.protection-p {
  margin-bottom: 30pxpx;
  color: #333;
  text-align: center;
  font-weight: bold;
}

.login-button {
    width: 100%;
    max-width: 250px;
    height: 50px;
    background-color: #3B82F6;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    cursor: pointer;
    margin: 30px auto 0;
    display: block;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #2563EB;
}