.signup-container {
    height: 100vh;
    width: 100%;
    background-color: #F9F9FB;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.top-bar {
  position: fixed;          /* fixe la barre en haut */
  top: 0;
  left: 0;
  width: 100%;              /* prend toute la largeur */
  height: 60px;             /* ou la hauteur que tu veux */
  background-color: #F9F9FB;  /* ou ta couleur de fond */
  border-bottom: 1px solid #E5E7EB;
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;            /* pour qu'elle reste au-dessus du contenu */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
}

.signup-page {
  min-height: 100vh;              /* au moins la hauteur de l'écran */
  display: flex;
  justify-content: center;
  align-items: flex-start;        /* permet à la carte de commencer en haut */
  padding-top: 100px;
  padding-bottom: 40px;           /* pour laisser un peu d'air en bas */
  background-color: #F9F9FB;
}

.signup-card {
  width: 80%;
  max-width: 560px;               /* taille max desktop */
  background-color: white;
  border: 1px solid #E5E7EB;
  border-radius: 15px;
  padding: 30px 30px;
  box-sizing: border-box;
  padding-bottom: 80px;
}

.signup-avatar {
    width: 120px;
    height: 120px;
    object-fit: cover;
    display: block;
    margin: 40px auto 20px auto;
}

.signup-title {
    font-size: 26px;
    color: #3B82F6;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}

.signup-input {
    width: 250px;
    max-width: 80vW;
    height: 50px;
    border-radius: 10px;
    background-color: #FFFFFF;
    border: 1px solid #E5E7EB;
    padding: 0 15px;
    font-size: 16px;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    outline: none;
    transition: border-color 0.3s ease;
    margin-top: 30px;
}

.signup-input:focus {
    border-color: #3B82F6
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


.password-container {
  position: relative;
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
  margin-top: 30px;
}

.password-input {
  width: 100%;
  height: 50px;
  padding: 0 40px 0 10px; /* espace à droite pour le bouton */
  border-radius: 10px;
  border: 1px solid #E5E7EB;
  background-color: #FFFFFF;
  font-size: 16px;
  box-sizing: border-box;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}