.signup-container {
    /* height: 100vh;  */
    width: 100%;
    background-color: #F9F9FB;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.top-bar {
  position: fixed;          /* fixe la barre en haut */
  top: 0;
  left: 0;
  width: 100%;              /* prend toute la largeur */
  height: 60px;             /* ou la hauteur que tu veux */
  background-color: #F9F9FB;  /* ou ta couleur de fond */
  border-bottom: 1px solid #E5E7EB;
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;            /* pour qu'elle reste au-dessus du contenu */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
}

.signup-page {
  min-height: 100vh;              /* au moins la hauteur de l'écran */
  display: flex;
  justify-content: center;
  align-items: flex-start;        /* permet à la carte de commencer en haut */
  padding-top: 100px;
  padding-bottom: 40px;           /* pour laisser un peu d'air en bas */
  background-color: #F9F9FB;
}

.signup-card {
  width: 80%;
  max-width: 560px;               /* taille max desktop */
  background-color: white;
  border: 1px solid #E5E7EB;
  border-radius: 15px;
  padding: 30px 30px;
  box-sizing: border-box;
  padding-bottom: 80px;
}

.signup-avatar {
    width: 120px;
    height: 120px;
    object-fit: cover;
    display: block;
    margin: 40px auto 20px auto;
}

.signup-title {
    font-size: 26px;
    color: #3B82F6;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}

.signup-input {
    width: 100%;
    max-width: 250px;
    height: 50px;
    border-radius: 10px;
    background-color: #FFFFFF;
    border: 1px solid #E5E7EB;
    padding: 0 15px;
    font-size: 16px;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    outline: none;
    transition: border-color 0.3s ease;
    margin-top: 30px;
}

.signup-input:focus {
    border-color: #3B82F6
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


.password-container {
  position: relative;
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
  margin-top: 30px;
}

.password-input {
  width: 100%;
  height: 50px;
  padding: 0 40px 0 10px; /* espace à droite pour le bouton */
  border-radius: 10px;
  border: 1px solid #E5E7EB;
  background-color: #FFFFFF;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s ease;
}

.password-input:focus {
    border-color: #3B82F6;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-button {
    width: 100%;
    max-width: 250px;
    height: 50px;
    background-color: #3B82F6;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    cursor: pointer;
    margin: 30px auto 0;
    display: block;
    transition: background-color 0.3s ease;
}

.signup-button:hover {
    background-color: #2563EB;
}

.login-redirection-message {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #6B7280;
    text-align: center;
    margin-top: 50px;
}

.login-redirection {
    width: 100%;
    max-width: 250px;
    height: 50px;
    margin: 5px auto 0 auto;
    background-color: #FFFFFF;
    border: 1px solid #2563EB;
    border-radius: 10px;
    color: #2563EB;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    display: flex;
    transition: background-color 0.3s ease;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.login-redirection:hover {
    background-color: #EFF6FF;
}

.error-message {
  color: #e63946;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Roboto', sans-serif
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5); /* fond semi-transparent */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-content {
  background: white;
  padding: 2rem 3rem;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  text-align: center;
}

.popup-button {
  margin-top: 1.5rem;
  padding: 0.7rem 1.5rem;
  background-color: #2563EB;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
}

.popup-button:hover {
  background-color: #1e40af;
}