.sidebar {
    width: 200px;
    height: calc(100vh - 60px); /* moins la hauteur de la TopBar */
    background-color: #F9F9FB; /* gris clair */
    position: fixed;
    top: 60px; /* sous la TopBar */
    left: 0;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    border-top: 2px solid #E5E7EB;
    border-right: 2px solid #E5E7EB;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-button {
    margin-top: 10px;
    width: 150px;
    height: 40px;
    background-color: #F9F9FB;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    font-size: 12px;
    color: #333;
    text-decoration: none; /* enlève le soulignement des liens */
    transition: background-color 0.2s ease-in-out;
    border-radius: 10px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

/* Effet au survol */
.nav-button:hover {
    background-color: #ece7e7; /* gris intermédiaire */
}

/* Bouton actif (page en cours) */
.nav-button.active {
    background-color: #F2EEEE;
}


/* Décalage pour le bouton Ajouter un projet */
.nav-button.add-project {
  margin-left: 20px; /* décale légèrement à droite */
  width: 160px; /* pour garder alignement visuel avec section */
}