.container-project-home {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px 350px 100px;
  gap: 15px;
  padding: clamp(1rem, 5vw, 1.25rem);
  margin: 0 auto;
  min-height: calc(100vh - 70px);
  width: 90%;
}

.cell-title {
  display: flex;
  flex-direction: column;;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  border-radius: var(--border-radius);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  color: white;
  border-radius: var(--border-radius);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  position: relative; /* nécessaire si on veut positionner le subtitle */
}

.project-home-subtitle {
  font-size: 16px;
  color: var(--color-primary);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  position: absolute;   /* 👈 placé indépendamment */
  top: 20px;            /* 20px du haut */
}

.cell-content {
  flex: 1;                       /* prend toute la hauteur dispo */
  display: flex;
  justify-content: center;       /* contenu centré verticalement */
  align-items: center;           /* centré horizontalement */
  width: 100%;
}

.wide {
  grid-column: span 3; /* occupe les 3 colonnes */
}

.subgrid {
  display: grid;
  grid-template-rows: 1fr 1fr; /* 2 parties égales = 175px chacune */
  gap: 10px;
  height: 100%;
}

.project-title {
    font-size: 24px;
    color: var(--color-primary);
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}